<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:cloud="http://schema.cloudfoundry.org/spring"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
		http://schema.cloudfoundry.org/spring http://schema.cloudfoundry.org/spring/cloudfoundry-spring-0.8.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="athletes" class="ie.cit.cloud.clouddevfc.JDBCathleterepository">
		<constructor-arg ref="athleteData" />
	</bean>
	
	<bean id="events" class="ie.cit.cloud.clouddevfc.JDBCeventrepository">
		<constructor-arg ref="athleteData" />
	</bean>

	<aop:aspectj-autoproxy />

	<bean class="ie.cit.cloud.clouddevfc.Tracingaspect" />

	<security:global-method-security
		secured-annotations="enabled" />
		
	<security:http auto-config="true">
		<security:intercept-url pattern="/theathlets.html" access="ROLE_ADMIN" />
		<security:intercept-url pattern="/events.html" access="ROLE_ADMIN" />
		<security:intercept-url pattern="/athleteprofile.html" access="ROLE_USER" />
		<security:intercept-url pattern="/events.html" access="ROLE_USER" />
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider>
			<security:password-encoder hash="md5" />
			<security:jdbc-user-service data-source-ref="athleteData"/>
		</security:authentication-provider>
	</security:authentication-manager>

	<jdbc:initialize-database data-source="athleteData" ignore-failures="ALL">
		<jdbc:script location="classpath:Database.sql" />
	</jdbc:initialize-database>

	<beans profile="cloud">
		<cloud:data-source id="athleteData" service-name="athletedb" />
	</beans>
	<beans profile="default">
		<jdbc:embedded-database type="H2" id="athleteData" />
		<bean class="org.h2.tools.Server" factory-method="createWebServer"
			init-method="start" destroy-method="stop">
			<constructor-arg value="-web,-webPort,8082" />
		</bean>
	</beans>

</beans>
